@use "./common";
//第二區塊顯示樣式
.page {
  .title {
    //標題與副標題文字樣式
    @include common.pageTitle;
  }

  &#about {
    .content {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      gap: 50px;
    }

    .introduce {
      width: 100%; //自我介紹卡片樣式設定
      div.card {
        position: relative;
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 30px 10px 70px;
        width: 100%;
        background: var(--white-color);
        box-shadow: 1px 8px 10px 2px var(--first-shadow-color);
        border-radius: 20px;

        h3 {
          //margin-bottom: 1rem;
          @include common.fontStyle(1.25rem, 600, 1rem);
          color: var(--primary-text-color);
        }

        > div {
          @include common.fontStyle(15px, 400, 1.5rem);
          padding: 10px;
          text-align: left;
          color: #777777;
        }
      }
    }

    .education {
      //教育程度區塊樣式
      display: flex;
      align-items: center;
      flex-direction: column;
      padding: 30px 0px 70px;
      width: 100%;

      h3 {
        margin: 0 0 15px;
        @include common.fontStyle(20px, 600, 1.2);
        color: var(--primary-text-color);
      }

      .resume-item {
        //教育程度內文區塊樣式
        width: 70%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 15px;
        color: var(--primary-text-color);
        position: relative;
        font-weight: normal;
      }

      .resume-item::before {
        box-sizing: border-box;
        content: "";
        position: absolute;
        left: -4px;
        width: 16px;
        height: 16px;
        border-radius: 50px;
        background-color: var(--first-color);
      }
    }
  }
}
