@use "./common";
//第二區塊顯示樣式
.page {
  .title {
    //標題與副標題文字樣式
    @include common.pageTitle;
  }

  &#about {
    .content {
      display: flex;
      flex-direction: var(--about-flex-direction);
      justify-content: var(--about-content-justify);
      align-items: center;
      gap: 50px;
    }

    .introduce {
      //自我介紹卡片樣式設定
      width: var(--about-introduce-width);
      padding: 0;

      div.card {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: var(--home-padding);
        width: 93%;
        background: var(--white-color);
        box-shadow: 1px 8px 10px 2px var(--first-shadow-color);
        border-radius: 20px;
        min-height: 20vh;

        h3 {
          margin: 0 0 15px;
          @include common.fontStyle(1.25rem, 600, 1rem);
          color: var(--primary-text-color);
        }

        > div {
          @include common.fontStyle(15px, 400, 1.5rem);
          padding-top: 10px;
          color: #777777;
        }
      }
    }

    .education {
      //教育程度區塊樣式
      display: flex;
      align-items: center;
      flex-direction: column;
      padding-block: 30px 70px;
      padding-inline: 20px;
      width: var(--about-education-width);

      h3 {
        margin: 0 0 15px;
        @include common.fontStyle(20px, 600, 1.2);
        color: var(--primary-text-color);
      }

      .resume-item {
        //教育程度內文區塊樣式
        width: 75%;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        font-size: 17px;
        padding: 15px;
        color: var(--primary-text-color);
        position: relative;
        font-weight: normal;
      }

      .resume-item::before {
        box-sizing: border-box;
        content: "";
        position: absolute;
        margin-top: 4px;
        left: -6px;
        width: 16px;
        height: 16px;
        border-radius: 50px;
        background-color: var(--first-color);
      }
    }
  }
}
