:root {
  --first-color: #6e57e0;
  --first-color-hover: #285bd4;
  --second-color: #00c9ff;

  --border-color: #ccc;
  --body-color: #fafafa;
  --white-color: #fff;

  --primary-text-color: #444444;
  --first-shadow-color: rgba(0, 0, 0, 0.1);
}
