@use "./common";

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 37px;
  background: #f8f8f8;
  padding-block: 40px 60px;

  nav {
    display: flex;
  }

  nav a {
    //字體樣式設定
    color: var(--primary-text-color);
    white-space: nowrap;
    text-decoration: none;
    font-weight: 500;
    margin: 0 20px;
  }

  div {
    display: flex;
    justify-content: center;

    &.icons {
      gap: 30px;

      .icon {
        //單一圖形圓圈設定
        @include common.iconCircle;

        &:hover {
          color: var(--first-color);
        }
      }
    }

    &.copy-right {
      font-size: 15px;
    }
  }
}
