@use "./common";

header {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 6px;
  height: 70px;
  line-height: 70px;
  background-color: #fafafa;
  padding-inline: 9vw;

  .nav-name {
    //標題樣式
    margin: 0;
    font-size: 30px;
    font-weight: 600;
    color: #1e9fab;
    font-family: Poppins, sans-serif;
  }

  nav {
    display: flex;
    align-items: center;
    padding-inline: 12vw;
    gap: 6px;
  }

  div.button {
    @include common.buttonStyle;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    //background-color: var(--gray-color-100);
  }

  button {
    @include common.buttonStyle;
    background-color: transparent;
    color: #4b5563;
  }
}
