@use "./common";

div.home {
  display: flex;
  flex-direction: var(--home-direction);
  justify-content: space-between;
  gap: var(--home-gap, 3rem);
  margin-top: var(--home-margin-top);

  > div {
    width: var(--home-width);

    &.image {
      display: flex;
      justify-content: var(--img-justify);
      align-items: center;
      order: var(--img-order);
      margin-top: var(--img-margin-top);

      img {
        width: var(--img-size); //圓的直徑
        height: var(--img-size);
        border-radius: 50%; //變圓
        object-fit: cover;
      }
    }

    &.text {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
      min-height: var(--home-min-height);
      width: var(--home-width);
      padding-left: var(--home-text-padding-left);

      > span {
        //姓名框樣式
        align-self: flex-start;
        background-color: #c0a631;
        color: var(--white-color);
        padding: 3px 8px;
        font-size: 12px;
        border-radius: 5px;
      }

      .featured-name {
        @include common.fontStyle(var(--feature-size), 600, auto);
        color: var(--primary-text-color);
        p {
          margin-block: 20px;
        }
      }

      strong {
        @include common.fontStyle(1rem, 400, 1.75rem);
        margin-bottom: 25px;
        color: var(--primary-text-color);
      }

      div {
        &.button {
          display: flex;
          gap: 1.25rem;
          //Hire me按鈕
          .blue-btn {
            @include common.buttonStyle;
            background: var(--first-color);
            font-weight: 600;
            color: var(--white-color);
            padding: 13px 20px;

            &:hover {
              background: var(--first-color-hover);
              color: var(--white-color);
            }
          }

          button {
            @include common.resumeButton;
          }
        }

        &.icons {
          margin-top: var(--icons-margin-top);
          display: flex;
          gap: 1.9em;
          width: 100%;
          text-align: center;
        }

        .icon {
          //單一圖形圓圈設定
          @include common.iconCircle;

          &:hover {
            color: var(--first-color);
          }
        }
      }
    }
  }
}
