section {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  div {
    //書籍A的頁首、頁尾樣式
    &.container {
      width: 100%;
      position: relative;

      > div {
        width: 100%;
        height: 4rem;
        display: flex;
        align-items: center;
      }
    }
  }
  div.main {
    flex-grow: 1;
  }
}
