@use "./common";
//第三區塊顯示樣式
div {
  &.skills {
    display: flex;
    width: 100%;
    gap: 20px;
    flex-wrap: wrap;
    padding-block: 0.5em;

    .item {
      display: flex;
      flex-direction: column;
      gap: 8px;
      flex-basis: calc(50% - 20px);

      .skill {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }

      .progress {
        height: 10px;
        border: solid 1px #ccc;
        //進度色塊
        .progress-bar {
          height: 10px;
          background-color: #6e57e0;
        }
      }
    }
  }
}
