@use "./main";
@use "./color";
@use "./variables";
@use "./header";
@use "./home";
@use "./about";
@use "./skills";
@use "./contact";
@use "./footer";

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--body-color);
  font-family: Poppins, sans-serif;
}
//卷軸順滑移動
html {
  scroll-behavior: smooth;
}

.wrapper {
  padding-inline: 10vw;
}
