@use "./main";
@use "./header";
@use "./home";
@use "./about";
@use "./footer";

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #fafafa;
  font-family: Poppins, sans-serif;
}

.wrapper {
  padding-inline: 10vw;
}
